/* Coolors Exported Palette - https://coolors.co/ee5622-f3b700-03cea4-293132-f4b942 */
/*
/* CSS HEX */
/*--flame: #ee5622ff;
--orange-yellow: #f3b700ff;
--caribbean-green: #03cea4ff;
--charleston-green: #293132ff;
--maximum-yellow-red: #f4b942ff;

/* CSS HSL */
/*--flame: hsla(15, 86%, 53%, 1);
--orange-yellow: hsla(45, 100%, 48%, 1);
--caribbean-green: hsla(168, 97%, 41%, 1);
--charleston-green: hsla(187, 10%, 18%, 1);
--maximum-yellow-red: hsla(40, 89%, 61%, 1);


/* SCSS HEX */
$flame: #ee5622ff;
$flame-hover: rgb(163, 60, 25);
$flame-hover-darker: rgb(110, 40, 17);
$orange-yellow: #f3b700ff;
$orange-yellow-hover: rgb(156, 118, 1);
$caribbean-green: #03cea4ff;
$charleston-green: #293132ff;
$maximum-yellow-red: #f4b942ff;
$maximum-yellow-red-darker: rgb(175, 133, 49);

/* SCSS HSL */
$flame: hsla(15, 86%, 53%, 1);
$orange-yellow: hsla(45, 100%, 48%, 1);
$caribbean-green: hsla(168, 97%, 41%, 1);
$charleston-green: hsla(187, 10%, 18%, 1);
$maximum-yellow-red: hsla(40, 89%, 61%, 1);

/* SCSS RGB */
$flame: rgba(238, 86, 34, 1);
$orange-yellow: rgba(243, 183, 0, 1);
$caribbean-green: rgba(3, 206, 164, 1);
$charleston-green: rgba(41, 49, 50, 1);
$maximum-yellow-red: rgba(244, 185, 66, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-right: linear-gradient(90deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-bottom: linear-gradient(180deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-left: linear-gradient(270deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-top-right: linear-gradient(45deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-bottom-right: linear-gradient(135deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-top-left: linear-gradient(225deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-bottom-left: linear-gradient(315deg, #ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);
$gradient-radial: radial-gradient(#ee5622ff, #f3b700ff, #03cea4ff, #293132ff, #f4b942ff);