<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../css/index-styling.css">
  <script type="module" src="../scripts/index.js"></script>
</head>
<body>

<div class="header">
  <div class="topbar">
    <a href="index.html"><img class="logo" src="../css/logo/colored/logo-white.svg" alt="Rently Logo"></a>
    <!-- logged in user information -->
    <div class="welcome">
      <h3><strong id="username"></strong></h3>
      <h3><a class="logoutText" href="#" id="logoutLink">Log out</a></h3>
    </div>
    <!-- notification message -->
    <div class="error_success">
      <h3 id="successMessage"></h3>
    </div>
  </div>
</div>

<div class="content">
  <form>
    <div class="user_button">
      <button type="button" class="btn" id="rentCarButton">Rent a Car</button>
    </div>
    <div class="user_button">
      <button type="button" class="btn" id="viewReservationsButton">View Reservations</button>
    </div>
  </form>
</div>
</body>
</html>