<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/styling.css">
    <script type="text/javascript" src="../scripts/login.js"></script>
</head>
<body>
<div class="main">
    <div class="content">
        <div class="header">
            <img src="../css/logo/colored/logo-white.svg" alt="Rently's Logo">
        </div>
        <form id="loginForm" class="loginForm" name="loginForm" action="../logic/login.php" method="post">
            <div class="textfields">
                <label for="login_email">Email</label>
                    <input type="text" id="login_email" name="login_email" required>
            </div>

            <div class="textfields">
                <label for="login_password">Password</label>
                    <input type="password" id="login_password" name="login_password" required>
            </div>

            <div class="errors">
                <p id="error-message"></p>
            </div>

            <div class="textfields">
                <div class="login_button"><button type="submit" class="btn" name="login_user">Login</button></div>
            </div>

            <div class="footer">
                Not a member? <a href="register.html">Register</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
