<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/reservation-styling.css">
  <script type="module" src="../scripts/reservation.js"></script>
  <title>Reservation</title>
</head>
<body>
<!-- Header section -->
<div class="header">
  <div class="topbar">
    <a href="index.html"><img class="logo" src="../css/logo/colored/logo-white.svg" alt="Rently Logo"></a>
    <!-- logged in user information -->
    <div class="welcome">
      <h3><strong id="username"></strong></h3>
      <h3><a class="logoutText" href="#" id="logoutLink">Log out</a></h3>
    </div>
    <!-- notification message -->
    <div class="error_success">
      <h3 id="successMessage"></h3>
    </div>
  </div>
</div>

<div id="car_details">
  <div class="buttons">
    <form action="../logic/view_reservation.php?value=back" method="get">
      <button type="button" id="back_to_search">Back</button>
    </form>

    <form action="../logic/view_reservation.php?value=proceed_to_checkout" method="get">
      <button type="button" id="proceed_to_checkout">Proceed to Checkout</button>
    </form>

  </div>
</div>
</body>
</html>
